
This dataset includes data on adult's diet, physical activity, and weight status from Behavioral Risk Factor Surveillance System. This data is used for DNPAO's Data, Trends, and Maps database, which provides national and state specific data on obesity, nutrition, physical activity, and breastfeeding. I was particularly curious on whether socioeconomic status has an impact on obesity. In my analysis, I compare the obesity rate in each state, and then perform a linear regression on the obesity rate for each educational status and the income bracket.

YEAR START - 2011
YEAR END - 2016


PLACES:

1) Alaska

2) Arizona

3) Arkansas

4) California

DATASOURCE:
Behavioral Risk Factor Surveillance System

CLASS:

1) Physical Activity

2) Obesity / weight status

3) Fruits and vegetables

TOPIC:

1) Physical Activity - behavior

2) Obesity / weight status

3) Fruits and vegetables - behavior

QUESTION:

1) Percent of adults aged 18 years and older who have obesity

2) Percent of adults aged 18 years and older who have an overweight classification

3) Percent of adults who engage in no leisure-time physical activity

4) Percent of adults who report consuming vegetables less than one time daily

5) Percent of adults who report consuming vegetables less than one time daily

6) Percent of adults who engage in muscle-strengthening activities on 2 or more days a week


DATA VALUE UNIT
DATA VALUE TYPE

In [1]:
import pandas as pd
from pandas import read_csv

In [2]:
data = read_csv("nutrition.CSV")

In [3]:
data.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53392 entries, 0 to 53391
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   53392 non-null  int64
 1   YearEnd                     53392 non-null  int64
 2   LocationAbbr                53392 non-null  object
 3   LocationDesc                53392 non-null  object
 4   Datasource                  53392 non-null  object
 5   Class                       53392 non-null  object
 6   Topic                       53392 non-null  object
 7   Question                    53392 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             53392 non-null  object
 10  Data_Value                  48346 non-null  float64
 11  Data_Value_Alt              48346 non-null  float64
 12  Data_Value_Footnote_Symbol  5046 non-null   object
 13  Data_Value_Footnote         5046 non-null   object
 14  Low_Confidence_Limit        48346 non-null  float64
 15  High_Confidence_Limit       48346 non-null  float64
 16  Sample_Size                 48346 non-null  float64
 17  Total                       1907 non-null   object
 18  Age(years)                  11438 non-null  object
 19  Education                   7628 non-null   object
 20  Gender                      3814 non-null   object
 21  Income                      13349 non-null  object
 22  Race/Ethnicity              15256 non-null  object
 23  GeoLocation                 52384 non-null  object
 24  ClassID                     53392 non-null  object
 25  TopicID                     53392 non-null  object
 26  QuestionID                  53392 non-null  object
 27  DataValueTypeID             53392 non-null  object
 28  LocationID                  53392 non-null  int64
 29  StratificationCategory1     53392 non-null  object
 30  Stratification1             53392 non-null  object
 31  StratificationCategoryId1   53392 non-null  object
 32  StratificationID1           53392 non-null  object
dtypes: float64(6), int64(3), object(24)
memory usage: 13.4+ MB

In [5]:
a = data[["YearStart", "Datasource", "Data_Value" ]].head()
a

   YearStart                                  Datasource  Data_Value
0       2011  Behavioral Risk Factor Surveillance System        32.0
1       2011  Behavioral Risk Factor Surveillance System        32.3
2       2011  Behavioral Risk Factor Surveillance System        31.8
3       2011  Behavioral Risk Factor Surveillance System        33.6
4       2011  Behavioral Risk Factor Surveillance System        32.8

In [6]:
b = data[data["LocationDesc"] == "Michigan"].head()
b

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
14281,2011,2011,MI,Michigan,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(44.6613195430005, -84.71439026999968)",OWS,OWS1,Q036,VALUE,26,Race/Ethnicity,Hispanic,RACE,RACEHIS
14504,2011,2011,MI,Michigan,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(44.6613195430005, -84.71439026999968)",PA,PA1,Q047,VALUE,26,Total,Total,OVR,OVERALL
14879,2011,2011,MI,Michigan,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(44.6613195430005, -84.71439026999968)",OWS,OWS1,Q036,VALUE,26,Total,Total,OVR,OVERALL
14880,2011,2011,MI,Michigan,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(44.6613195430005, -84.71439026999968)",OWS,OWS1,Q036,VALUE,26,Gender,Male,GEN,MALE
14881,2011,2011,MI,Michigan,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(44.6613195430005, -84.71439026999968)",OWS,OWS1,Q036,VALUE,26,Gender,Female,GEN,FEMALE

In [7]:
from pandas import DataFrame